.cropped-image .form-wrapper {
  position: relative;
  overflow: hidden;
}

.cropped-image .form-wrapper img {
  position: absolute;
  max-width: none;
}

.jcrop-holder>input {
  top: 0 !important;
}
